<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

        <main>

        <div class="mt-5">
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-row align-items-center p-4 shadow">
                    <div class="p-2 ml-5">
                        <img src=# alt="131231" width=400>
                    </div>
                    <div class="p-2 mr-5">
                        <p>Name</p>
                        <p>Age - Gender - Breed - Color</p>
                        <p>Description: </p>
                        <p>Contact Info: </p>
                    </div>
                  </div>
            </div>
        </div>
              
        </main>

<%- include ('../partials/footer') %>