<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>


<div class="container mt-4">
    <h1 class="mb-4">Favorited Dogs</h1>
    <div class="row">
        <div class="col-3">
          <div class="card" style="border-color: rgb(0, 179, 255);">
            <img class="card-img-top border-0" style="border-color: rgb(0, 179, 255);" src="#" alt="Card image cap" width="200" height ="300">
            <div class="card text-center" style="border-color: rgb(0, 179, 255);">
            <div class="card-body" style="border-color: rgb(0, 179, 255);">
              <h5 class="card-title">Name</h5>
              <p class="card-text">Age - Breed - Gender
              </p>
              
            </div>
          </div>

          </div>
        </div>

        <div class="col-3">
            <div class="card" style="border-color: rgb(0, 179, 255);">
              <img class="card-img-top border-0" style="border-color: rgb(0, 179, 255);" src="#" alt="Card image cap" width="200" height ="300">
              <div class="card text-center" style="border-color: rgb(0, 179, 255);">
              <div class="card-body" style="border-color: rgb(0, 179, 255);">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Age - Breed - Gender
                </p>
                
              </div>
            </div>
  
            </div>
          </div>

          <div class="col-3">
            <div class="card" style="border-color: rgb(0, 179, 255);">
              <img class="card-img-top border-0" style="border-color: rgb(0, 179, 255);" src="#" alt="Card image cap" width="200" height ="300">
              <div class="card text-center" style="border-color: rgb(0, 179, 255);">
              <div class="card-body" style="border-color: rgb(0, 179, 255);">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Age - Breed - Gender
                </p>
                
              </div>
            </div>
  
            </div>
          </div>

          <div class="col-3">
            <div class="card" style="border-color: rgb(0, 179, 255);">
              <img class="card-img-top border-0" style="border-color: rgb(0, 179, 255);" src="#" alt="Card image cap" width="200" height ="300">
              <div class="card text-center" style="border-color: rgb(0, 179, 255);">
              <div class="card-body" style="border-color: rgb(0, 179, 255);">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Age - Breed - Gender
                </p>
                
              </div>
            </div>
  
            </div>
          </div>
    </div>
</div>
<%- include ('../partials/footer') %>