<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

        <main>
            <div class="container">
                <!-- THE REST OF YOUR HTML CODE GOES HERE -->
                <div class="container mt-5 pt-5">
                    <div class="row">
                      <div class="col-12 col-sm-7 col-md-6 m-auto">
                        <div class="card border-0 shadow">
                          <div class="card-body">
                            <h1 class="text-center my-4">Thank you for using Happy Paws! </h1>
                            <h3 class="text-center my-4">You've been Logged Out </h3>
                            <p class="text-center">Click <a href=#>here</a> to Login.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </main>

<%- include ('../partials/footer') %>