<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <!--
  <div class="container">

    <form action="/register" method="POST">
        <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" type="text" id="username" name="username" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="password" />
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
  </div>
-->

  <div class="container mt-1 pt-5">
    <div class="row">
      <div class="col-12 col-sm-7 col-md-6 m-auto">
        <div class="card border-0 shadow">
          <div class="card-body">
            <h2 class="text-center my-4">Happy Paws Register</h2>
            <form action="/register" method="POST">
              <label>Email</label>  
              <input type="email" name='email' id='email' class="form-control mt-2 mb-4 py-2" placeholder="Email" required/>
              <label>Password</label>  
              <input type="text" name='password' id='password' class="form-control mt-2 mb-4 py-2" placeholder="Password" required/>
              <label>First Name - Optional</label>  
              <input type="text" name='first_name' id='first_name' class="form-control mt-2 mb-4 py-2" placeholder="First Name" />
              <label>Last Name - Optional</label>  
              <input type="text" name='last_name' id='last_name' class="form-control mt-2 mb-4 py-2" placeholder="Last Name" />
              <label>State - Optional</label>  
              <input type="text" name='location' id='location' class="form-control mt-2 mb-2 py-2" placeholder="Location" />
              <div class="text-center mt-4">
                <button style="background-color:rgb(0, 162, 255);color:white" class="btn px-4" type="submit" value="Submit">Register</button>
                <p class="py-3">Already Have an Account? <a href="/login">Login here</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div class="mb-5">

</main>

<%- include ('../partials/footer') %>