
<div class="pt-4">
<footer class=" text-center text-white mt-5" style="background-color:rgb(0, 162, 255)">
  <!-- TO-DO: Add the <script><script /> tag to include bootstrap javascript -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/f755ea5fe5.js" crossorigin="anonymous"></script>
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <p style="text-align:center;color:white;font-size: medium;" >
              Get Connected with us:
            </p>
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #3b5998;"
              href="https://www.facebook.com/profile.php?id=100092498163546"
              role="button"
              ><i class="fab fa-facebook"></i
            ></a>
      
            <!-- Twitter -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #55acee;"
              href="https://twitter.com/HappyPaws_Adopt"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Instagram -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #ac2bac;"
              href="https://www.instagram.com/happypaws_adopt/"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Github -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #333333;"
              href="https://github.com/Redo1841/CSCI-3308-Team-1-Section-011-Happy-Paws"
              role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
  
   
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color:white;color: rgb(0, 162, 255);">
      &copy; Copyright 2022 : CSCI 3308 - Happy Paws
    </div>
    <!-- Copyright -->
  </footer>
</div>      
     

</body>
</html>